@model TheBest.Models.Entities.StudentViewModel

@{
    ViewBag.Title = "Details";
}

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column ui segment bor">
        <div class="user-row">
            <div class="ui grid">
                <div class="three wide column"><img class="user-image" src="@Model.ThumbnailUrl" alt="photo" /></div>
                <div class="thirteen wide column">
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="user-name">Александр Котвицкий</div>
                            </div>
                            <div class="eight wide column"></div>
                        </div>
                        <div>
                            <div class="ui visible message user-group">
                                <p>Студент групи ПІ-50</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <hr />
        <div class="ui grid">
            <div class="seven wide column centered">
                <div class="ui grid">
                    <div class="two wide column">
                        <i class="pointing down icon"></i>
                    </div>
                    <div class="fourteen wide column">
                        <div class="my-header">Оцінити студента</div>
                        <div class="evaluate-block">
                            <div class="evaluate-header">Студент няшний ?</div>
                            <div class="evaluate">
                                <a><i class="thumbs outline up icon"></i>Так</a>
                                <span class="separator"></span>
                                <a><i class="thumbs outline down icon"></i>Ні</a>                             
                            </div>
                        </div>
                        <div class="evaluate-block">
                            <div class="evaluate-header">Студент розумний ?</div>
                            <div class="evaluate">
                                <a><i class="thumbs outline up icon"></i>Так</a>
                                <span class="separator"></span>
                                <a><i class="thumbs outline down icon"></i>Ні</a>
                            </div>
                        </div>
                        <div class="evaluate-block">
                            <div class="evaluate-header">У студента гарна попка ?</div>
                            <div class="evaluate">
                                <a><i class="thumbs outline up icon"></i>Так</a>
                                <span class="separator"></span>
                                <a><i class="thumbs outline down icon"></i>Ні</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two wide column centered submit-arrow">
                <div><i class="arrow right icon"></i></div>
            </div>
            <div class="seven wide column centered">
                <div class="ui grid centered">
                    <div class="two wide column"><i class="wizard icon"></i></div>
                    <div class="fourteen wide column centered">
                        <div class="my-header">Особисті досягнення</div>
                        <div class="progress-block">
                            <div class="progress-header">Няшність</div>
                            <div class="ui teal progress" data-percent="100" id="criteria1">
                                <div class="bar"></div>
                                <div class="label">74%</div>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress-header">Розумність</div>
                            <div class="ui red progress" data-percent="100" id="criteria2">
                                <div class="bar"></div>
                                <div class="label">74%</div>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress-header">Гарна попка</div>
                            <div class="ui blue progress" data-percent="100" id="criteria3">
                                <div class="bar"></div>
                                <div class="label">74%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="one wide column"></div>
</div>
