<div class="ui menu">
    <div class="header item">Фікт</div>
    <div class="right menu">
        <div class="item">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="Пошук">
                <button class="ui button">Підтвердити</button>
            </div>
        </div>
        <a class="item">Вхід</a>
    </div>
</div>